/*main {
 /*   height: calc(100vh - 64px); */
    /* height calc is 100vh - (64px from height of header) */
    /* height pode ser o que dava problema nas telas menores */
*/
.img-pokemon-container {
    background-image: url(../img/img-pokemon-background.png);
    background-size: cover;
}

@media only screen and (max-width: 820px) {
    .height-weight-container {
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 320px) {
    #result-type{
        display: flex;
        flex-wrap: wrap;
    }

}
