
@font-face {
    font-family: 'Pokemon Solid'; /* Dê um nome à sua fonte */
    src: url(../../Pokemon\ Solid.ttf) format('woff2'); /* Substitua pelo caminho real da sua fonte */
    font-weight: normal;
    font-style: normal;
}

.card {
    width: 18rem;
}

p {
    margin-bottom: 0;
}

main {
    height: calc(100vh - 72px );
}
/* height calc is 100vh - (56px from height of header + 16px from margin of button return to home) */
.moves {
    height: 10.625rem;
    overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    main {
        margin-top: 220px;
    }

}

a{
    text-decoration: none;
}

.logo{
    height: 3rem;
    width: 8rem;
}


img {
    height: 225px;
    width: 225px;
}

.card:hover{
    filter: brightness(120%);
    transition: 0.09s linear;
    cursor: pointer;
    box-shadow: 0px 0px 10px -3.5px black;
}

.tipos{
    text-align: center;
    border-radius: 1rem;
    width: 40%;
    border: 3px solid rgb(75, 63, 63);
}

.card-title{
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(82, 70, 70);
}

.tipos, .pokemon-id{
    font-family: monospace, sans-serif;
}