.card {
    width: 18rem;
}

p {
    margin-bottom: 0;
}

main {
    height: calc(100vh - 56px);
}

.moves {
    height: 10.625rem;
    overflow-y: auto;
}

@media only screen and (max-width: 450px) {
    main {
        margin-top: 110px;
    }
    
}